.credits {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.credits h1{
    color: #fff;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    font-family: "Jersey 10";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.28px;
}

.credits p{
    line-height: 1.6;
    color: #fff;
    text-align: justify;
    margin: 10px 0;
    font-size: 20px;    
}