.id{
  padding: 2rem;
  box-sizing: border-box;
}
.id-card{
  border: 1px solid #ddd;
  width: fit-content;
  margin: 0 auto;
  color: #000; 
  background-color: #FFFFFF;
}

.id-header{
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #02283D;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.id-header .id-logo{
  position: absolute;
  top: 2rem;
  width: 80px;
}

.id-photo{
  border-radius: 50%;
  margin-top: 8rem;
  margin-bottom: -4rem;
  border: 10px solid #ddd;
  width: 150px;
  height: 150px;
  display: block;
}

.id-details{
  padding: 1rem;
  margin-top: 3rem;
}

.id-details h1{
  text-align: center;
  color: #000;
  font-size: 1.5rem; 
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.id-details h3{
  text-align: center;
  color: #ff0000;
  margin-top: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.id-details .m-info{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.id-details .m-info-group{
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.id-details .m-info-group .info-value{
  color: #8F6144;
  font-weight: 500;
}

.id-details .m-info-group .info-value.email{
  text-transform: lowercase;
}


.id-details .m-info-group h4{
  margin-bottom: 0;
  margin-top: 0.2rem
}

.id-details .m-qrcode{
  display: flex;
  justify-content: center;
  align-items: center
}

.id-details .m-qrcode img{
  width: 150px;
}

.id-footer{
  background-color: #02283D;
  color: #FFFFFF;
  text-align: center;
  padding: 0.3rem;
}

.downloadbtn{
  background-color: #FF0000;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 1rem;
}

.downloadbtn:hover{
  background-color: #8F6144;
}

.t1{
  font-size: 1.2rem;
  font-weight: 200;
  color: white;
  max-width: 500px;
  margin: 0 auto;
  text-align: justify;
  padding: 1rem;
}