#msform {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  align-self: stretch;
  border: none;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#msform fieldset {
  width: 100%;
  border: none;
}

#msform h3{
  color: #FFF;
  font-family: "Jersey 10";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.12px;
  text-align: center;
}

#msform label {
  color: var(--Title-Color, rgba(255, 255, 255, 0.60));
  font-family: "Space Grotesk";
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.06px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

#msform select {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(12px);
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: var(--Input-Color, #FFF);
}

#msform option {
  background: rgba(255, 255, 255, 0.90);
  color: var(--Input-Color, #000);
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  color: var(--Input-Color, #FFF);
  border: 1px solid var(--Glass-Stroke, rgba(255, 255, 255, 0.20));
  background: var(--Glass-Fill, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.06) 100%), rgba(255, 255, 255, 0.01));
  /* Glass */
  box-shadow: 0px 5px 9px 0px rgba(255, 255, 255, 0.08) inset;
  backdrop-filter: blur(60px);
  font-size: 13px;
}


/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*progressbar*/
#progressbar {
  margin-bottom: 20px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -40%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #27AE60;
  color: white;
}

@media (max-width: 600px) {
  #msform {
    width: 85%;
  }

  #msform fieldset {
    width: 100%;
  }
}