body {
  background-color: #052139;
}

h1, h2 {
  text-align: center;
  color: white;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #6200ea;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.policy-page {
  background-color: #052139;
  color: white;
  padding-top: 6rem;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  text-align: justify;
}

.policy-page h1,
.policy-page h2 {
  text-align: center;
  color: #48FFD5;
}

.policy-page p,
.policy-page ul {
  margin: 10px 0;
  line-height: 1.6;
}

.policy-page ul {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-page li {
  margin: 5px 0;
}

.terms-page {
  background-color: #052139;
  color: white;
  padding-top: 6rem;
  border-radius: 10px;
  max-width: 800px;
  text-align: justify;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.terms-page h1,
.terms-page h2 {
  text-align: center;
  color: #48FFD5;
}

.terms-page p,
.terms-page ul {
  margin: 10px 0;
  line-height: 1.6;
}

.terms-page a {
  color: #48FFD5;
  text-decoration: underline;
}

.terms-page a:hover {
  color: #36bfa3;
}